@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: white;
    margin: 20px;
    width: 750px;
    border-radius: 20px;
}

.mainContainer {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    border-radius: 20px 0px 0px 20px;
}

.textbox {
    position: relative;
    left: 400px;
}


h1 {
    font-family: "Fraunces", serif;
    font-size: 2.5rem;
    line-height: 2.2rem;
}

p {
    font-size: .9rem;
    padding: 30px 70px 30px 0px;
    color: hsl(228, 12%, 48%);
    line-height: 1.4rem;

}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li{
    font-size: 0.8rem;
}

.priceDiv{
    margin-bottom: 20px;
}

.price{
    font-size: 1.7rem;
    font-family: "Fraunces", serif;
    color:  hsl(158, 36%, 37%) ;
    padding-right: 10px;
}

.salePrice{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%) ;
}

.btn {
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 12px;
    width: 270px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(159, 52%, 21%);
}



.attribution {
    font-size: .7rem;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}